# --- ANDROID ---
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
.navigation/
captures/
.externalNativeBuild
.cxx/
obj/
*.jks
*.keystore
keystore.properties
google-services.json
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
*.hprof
*.sfb

# --- INTELIJ / ANDROID STUDIO ---
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/jarRepositories.xml
!.idea/misc.xml
!.idea/vcs.xml

# --- SISTEMAS OPERATIVOS ---
.DS_Store
**/.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.*.swp
.*.swo
*.bak
*.tmp

# --- OTROS IDEs ---
.classpath
.project
.settings/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
*.code-workspace

# --- TEMPORALES ---
*.swp
*.swo
*.lock
*.temp